---
const links = [
  { name: "listado", href: "/" },
  { name: "páginado", href: "/pokemons/1" },
  { name: "favoritos", href: "/favorites" },
  // { name: "islands", href: "/islands" },
];

const currentPath = Astro.url.pathname;
---

<!-- component -->
<nav
  class="fixed top-0 w-full shadow bg-slate-900 z-10 items-center flex justify-between px-4 md:px-8 lg:px-16"
>
  <a href="/">
    <img src="/src/assets/logo.png" alt="" class="w-30 h-10" />
  </a>
  <div class="flex py-6 text-gray-600 capitalize dark:text-gray-300">
    {
      links.map(({ name, href }) => (
        <div>
          {currentPath === href ? (
            <a
              href={href}
              class="pl-4 md:pl-12  text-sky-500 hover:text-sky-500 transition-all"
            >
              {name}
            </a>
          ) : (
            <a href={href} class="pl-4 md:pl-12   text-white transition-all">
              {name}
            </a>
          )}
        </div>
      ))
    }
  </div>
</nav>
